.gridContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.refreshContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: -1rem;
}

.infoItem{
  border-radius: 0.5rem;
  background: var(--color-text-secondary);
  padding: 1rem;
  margin: 2rem;
  /* height: '100%' */
  height: 280px;
  overflow: auto;
}

.jsonInscriptionItem {
  background: var(--color-text-secondary);
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 2rem;
  color: #fff;
  width: 280px;
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  /* height: 15rem; */
}

.jsonInscriptionItem pre {
  overflow: auto;
}

.jsonInscriptionItem > *::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
  background-color: var(--color-background-default);
}

.jsonInscriptionItem > *::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary-main);
  border-radius: 5px;
}

.jsonItem {
  background: var(--color-text-disabled);
  border-radius: 0.5rem;
  padding: 1rem;
  width: 250px;
  height: 15rem;
}

.jsonItem pre {
  background: var(--color-text-secondary);
  overflow: auto;
  margin: 0;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  height: 75%;
  margin-bottom: 0.5rem;
  color: #fff;
}

.jsonItem > *::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
    background-color: var(--color-background-default);
}

.jsonItem > *::-webkit-scrollbar-thumb {
    background-color: var(--color-primary-light);
    border-radius: 5px;
}
