.list {
  display: flex;
  flex-direction: row;
  padding-left: 8px;
  padding-right: 8px;
  width: fit-content;
}

.icon {
  min-width: 0;
  margin-right: var(--space-2);
  color: var(--color-primary-main)
}

.listItemButton {
  /* border-radius: 6px; */
  padding-top: 6px;
  padding-bottom: 6px;
  min-width: 120px;
}

.list :global .MuiListItemButton-root {
  color: var(--color-text-secondary);
  text-transform: uppercase;
  text-align: center;
  margin: var(--space-1);
}

/* [data-theme='dark'] .list :global .Mui-selected {
  border-bottom: 2px solid var(--color-primary-main);
} */

.list :global .MuiListItemButton-root:hover {
  color: var(--color-primary-dark);
}

.list :global .Mui-selected {
  background-color: transparent;
  border-bottom: 2px solid var(--color-primary-main);
  color: var(--color-primary-main);
}