.tabButton1{
    background-image: url(~/public/images/assets/tab1.svg);
    background-repeat: no-repeat;
    border-radius: 0;
    text-transform: uppercase;
    background-position: center;
    margin-left:4px;
}

.tabButton2{
    background-image: url(~/public/images/assets/tab2.svg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0;
    text-transform: uppercase;
    margin-left:-4px;
}