.container {
  /* height: var(--header-height); */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
  border-radius: 0 !important;
  background-color: transparent;
  padding-left: 8%;
  padding-right: 8%;
  background: black;
  border-bottom: 1px solid var(--color-secondary-main);
  background-image: url(~/public/images/assets/header.png);
  background-repeat: no-repeat;
  background-size: 100% auto;

  background-color: #0F160C; 
}

.element {
  height: 100%;
  margin-top:10px;
  /* border-right: 1px solid var(--color-border-main); */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.element :global(.MuiBadge-standard) {
  font-size: 12px;
  width: 18px;
  height: 18px;
  min-width: 18px;
}

[data-theme='dark'] .element :global(.MuiBadge-standard) {
  background-color: var(--color-primary-main);
}

.menuButton,
.logo {
  /*flex: 1;*/
  border: none;
  align-items: flex-start;
}

.logo svg {
  width: auto;
  display: block;
  color: var(--color-logo-main);
  height: 60px;
}

.logo {
  padding: var(--space-2);
}

.menuButton {
  display: none;
}

.networkSelector {
  border-right: none;
}

.connectWallet {
  flex-shrink: 0;
}

.navigation {
  flex: 1;
  align-items: center;
}

@media (max-width: 899.95px) {
  .logo {
    display: none;
  }

  .menuButton {
    flex: 1;
    display: flex;
  }
}

@media (max-width: 599.95px) {
  .menuButton {
    padding-left: var(--space-2);
  }

  .hideMobile {
    display: none;
  }

  .hideSidebarMobile {
    visibility: hidden;
  }
}
