.container {
  padding: var(--space-3) var(--space-3) 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-background-paper);
  z-index: 2;
  width: 100%;
  position: sticky !important;
  top: calc(var(--header-height));
  border-bottom: 1px solid var(--color-border-main);
}

@media screen and (max-width: 768px) {
  .container {
    padding: var(--space-3) var(--space-3) 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-background-paper);
    z-index: 2;
    width: 100%;
    position: sticky !important;
    top: calc(var(--header-height));
    border-bottom: 1px solid var(--color-border-main);
  }
}

.title {
  font-weight: 700;
  margin-bottom: var(--space-3);
  margin-right: var(--space-5);
  color: var(--color-text-light);
  text-transform: uppercase;
  font-size:14px
}

.titleTabs {
  font-weight: 700;
  margin-bottom: var(--space-3);
  color: var(--color-text-light);
  text-transform: uppercase;
  font-size:14px;
  margin-right: var(--space-10);
  text-align: right;
}

.border {
  border-bottom: 1px solid var(--color-border-main);
}

.pageHeader,
.actionsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actionsWrapper {
  gap: var(--space-1);
}

@media (max-width: 599.95px) {
  .container {
    padding: var(--space-3) var(--space-2) 0;
  }

  .border {
    border: 0;
  }

  .pageHeader {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-3);
  }

  .navWrapper {
    border-bottom: 1px solid var(--color-border-main);
    margin-left: calc(var(--space-2) * -1);
    padding-left: var(--space-2);
    margin-right: calc(var(--space-2) * -1);
    padding-right: var(--space-2);
    align-self: stretch;
  }

  .actionsWrapper {
    padding-bottom: 16px;
  }
}
