.container {
  padding: var(--space-2) var(--space-1) var(--space-1) var(--space-2);
  font-size: 13px;
  background-color: var(--color-text-disabled);
  align-items: center;
  justify-content: center;
  display: flex;
}

@media (max-width: 599.95px) {
  .container li:not(:last-of-type):after {
    visibility: hidden;
  }
}
