.container {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-image: url('~/public/images/assets/footer.png');
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-right:20px; 
  padding-bottom:10px;

}

.icon{
  color: var(--color-secondary-light);
  font-size: 26px;
  margin-top: 10px;
  margin-left: 10px;
}

.icon:hover{
  color: var(--color-primary-main);
}

@media (max-width: 599.95px) {
  .container li:not(:last-of-type):after {
    visibility: hidden;
  }
}
