.container {
  padding: var(--space-1);
  font-size: 13px;
  background-color: #FDF700;
}

.topSection {
  top: 0;
  left: 0;
  width: 100%;
  height: 20px; 
  background-image: url('/images/common/footer-tech-bg.png'); 
}

.container ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  row-gap: 0.2em;
  column-gap: var(--space-2);
  align-items: baseline;
}

.container li {
  padding: 0;
  margin: 0;
}

.container li:not(:last-of-type):after {
  margin-left: var(--space-2);
}

.container li a:not([href]) {
  text-decoration: none;
  pointer-events: none;
}

@media (max-width: 599.95px) {
  .container li:not(:last-of-type):after {
    visibility: hidden;
  }
}
